<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0" />
  <meta property="og:title" content="{{ translations.server_registration }}">
  <meta property="og:site_name" content="{{ server_name }}">
  <meta property="og:type" content="website" />
  <meta name="og:description" content="{{ translations.register_account }}"/>
  <meta name="og:image" content="{{ url_for('static', filename='images/icon.png') }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon32x32.png') }}" sizes="32x32">
  <link rel="preload" as="image" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/tile.png') }}">
  <meta name="msapplication-TileColor" content="#fff">
  <title>{{ translations.server_registration }}</title>
  <!-- font designed by Vernon Adams, Cyreal -->
  <!-- https://fonts.google.com/specimen/Nunito -->
  <!-- licensed under SIL Open Font License, Version 1.1 -->
  <link rel="preload" as="font" href="{{ url_for('static', filename='fonts/Nunito_400_Nunito_700.woff2') }}" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- valley cover by Designed by Jesús Roncero -->
  <!-- https://www.flickr.com/golan -->
  <!-- licensed under CC-BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/) -->
  <link rel="preload" as="image" href="{{ url_for('static', filename='images/valley.jpg') }}">
  <style>
    @font-face {
      font-family: "Nunito";
      src: local("Nunito"), url("{{ url_for('static', filename='fonts/Nunito_400_Nunito_700.woff2') }}");
    }
    body, .widget::before {
      background-image: url("{{ url_for('static', filename='images/valley.jpg') }}");
    }
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="blur">
  <article class="widget register">
    <div class="center">
      <header>
        <h1>Registration complete!</h1>
      </header>
      <section>
		<div>
			<ol>
				<li>
					<a href="https://packages.riot.im/desktop/install/win32/x64/Element%20Setup.exe">Please download the Element client</a>
				</li>
				<li>
					Login
				</li>
			</ol>
		</div>
					
	  </section>
	</div>
  </article>
</body>
</html>